<div class="container-fluid"> 
	<div class="row bg-success justify-content-center 
			align-items-center" style="height:80px"> 
		<div class="col-3"></div> 
		<div class="col-6 text-light h2"> 
      Todo App On Angular 10!
    </div> 
	</div> 

	<!--Division for taking input from user -->
	<div class="row mt-1" style="height:80px;"> 
		<div class="col-3 d-none col-md-3 d-md-block"></div> 
		<div class="col-12 col-md-6 bg-success d-flex 
					justify-content-center align-items-center 
					text-light h3"> 

			<input [(ngModel)]="newTask" type="text"
					value="" class="col-7 form-control"
						style="width:300px;"> 

			<div class="col-1"></div> 

			<button (click)="addToList()" 
				class="btn btn-light text-success"> 
				ADD TASK 
			</button> 
		</div> 

		<div class="col-3 d-none col-md-3 d-md-block"></div> 
	</div> 

	<!--Tasks added repeated divisions-->
	<div *ngFor="let x of items; let index = index;"
			class="row mt-1" style="height:100px;"> 

		<div class="col-3 d-none col-md-3 d-md-block"></div> 

		<div class="col-12 col-md-6 bg-success d-flex 
					justify-content-center align-items-center 
					text-light h3"> 

			<div class="col-9 text-light h3">{{x}}</div> 

			<input (click)="deleteTask(index)" type="button"
				value="Delete" class="col-2 btn btn-danger"> 
		</div> 
		
		<div class="col-3 d-none col-md-3 d-md-block"></div> 
	</div> 
</div> 